body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.border-box {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6fa;
}

.book-page-container {
  background-color: white;
  width: min(1280px,100%);
  margin: 0;
  padding: 0 5em 5em 5em;
  border-radius: 0.5em;
}

.book-list {
  margin-bottom: 2em;
}

.form-container {
  border-top: solid 1px #e8e8e8;
}

form {
  justify-content: space-between;
}

input, select {
  box-sizing: border-box;
  height: 2.8em;
  border-radius: 0.5em;
  border: solid 1px #e8e8e8;
  background-color: white;
  padding: 0.5em;
}

input[name=title],
input[name=author] {
  width: 33%;
}

select {
  width: 130%;
}

.btn {
  color: white;
  background-color: #0290ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-book-btn {
  height: 2.8em;
  width: 9em;
  margin-left: 1em;
}
